:root {
  --font-main: 'Montserrat', sans-serif;
  --font-headline: 'Actay Wide', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --font-size-main: 20px;
  --font-size-main-tablet: 18px;
  --font-size-main-mobile: 16px;

  --font-size-headline-1: 70px;
  --font-size-headline-1-tablet: 48px;
  --font-size-headline-1-mobile: 25px;

  --font-size-headline-2: 64px;
  --font-size-headline-2-tablet: 40px;
  --font-size-headline-2-mobile: 22px;

  --font-size-headline-3: 32px;
  --font-size-headline-3-tablet: 24px;
  --font-size-headline-3-mobile: 20px;

  --font-size-headline-4: 24px;
  --font-size-headline-4-tablet: 18px;
  --font-size-headline-4-mobile: 15px;

  --font-size-alternative: 14px;
  --font-size-alternative-mobile: 12px;

  --font-size-button: 20px;
  --font-size-button-tablet: 18px;
  --font-size-button-mobile: 16px;

  --light-color: #fff;
  --semi-light-color: #e6e6e6;
  --main-color: #000000;
  --semi-dark-color: 363636;
  --accent-primary: #7a8ccd;
  --hover-color: #7A8CCD;
}

/* common styles */

.brand-page {
  padding: 80px 0;
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  overflow-x: hidden;
}

.headline-1, .headline-2, .headline-3, .headline-4 {
  margin: 0;
}

.brand-page .headline-1 {
  font-family: var(--font-headline);
  font-size: var(--font-size-headline-1);
  font-weight: 700;
  line-height: 70px;
}

.brand-page .headline-2 {
  font-family: var(--font-headline);
  font-size: var(--font-size-headline-2);
  font-weight: 700;
  line-height: 70px;
}

.brand-page .headline-3 {
  font-family: var(--font-headline);
  font-size: var(--font-size-headline-3);
  font-weight: 700;
  line-height: 38px;
}

.brand-page .headline-4 {
  font-family: var(--font-headline);
  font-size: var(--font-size-headline-4);
  font-weight: 700;
  line-height: 36px;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.m-auto {
  margin: 0 auto;
}

.brand-page .wrapper {
  max-width: 1305px;
  margin: 0 auto;
  padding: 0 40px;
}

.brand-page .wrapper-p0 {
  padding: 0;
}

.section-offset {
  margin-bottom: 120px;
}

.section-offset-inner {
  margin-bottom: 100px;
}

.medium-offset {
  margin-bottom: 80px;
}

.sm-offset {
  margin-bottom: 60px;
}

.xs-offset {
  margin-bottom: 48px;
}

.title-offset {
  margin-bottom: 24px;
}

.h2-offset {
  margin-bottom: 24px;
}

.h3-offset {
  margin-bottom: 24px;
}

.title-offset-lg {
  margin-bottom: 32px;
}

.alternative-fs {
  font-size: var(--font-size-alternative);
}

.btn-reset {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

.bp-button {
  position: relative;
  padding: 32px 48px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-button);
  font-family: var(--font-headline);
  color: var(--light-color);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-radius: 30px;
  transition: all .4s cubic-bezier(.39,.575,.565,1);
}

.bp-button_alternative {
  background: var(--light-color);
  border: 2px solid var(--semi-light-color);
  color: var(--main-color);
}

@media (hover: hover), (-ms-high-contrast:none) {
  .bp-button:hover {
    background: var(--hover-color);
  }

  .bp-button_alternative:hover {
    border-color: var(--main-color);
    background: var(--light-color);
  }
}

.bp-link {
  transition: color 0.3s ease-in;
}

.bg-decor {
  background: var(--semi-light-color);
  border-radius: 320px;
}

.bp-action-block {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -80px;
  background: var(--light-color);
  padding: 120px 104px;
  border-radius: 120px;
}

.bp-action-block_unic .bp-button {
  max-width: 387px;
}

.bp-action-block__img-wrap {
  max-width: 392px;
}

.bp-action-block_unic .bp-action-block__img-wrap {
  margin-left: auto;
}

.bp-action-block img {
  border-radius: 60px;
}

@media (hover: hover), (-ms-high-contrast:none) {
  .bp-link:hover {
    color: var(--hover-color);
  }
}

.bp-slider-nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

.swiper-button-disabled.bp-slider-nav__next {
  opacity: 0.3;
}

.bp-slider-nav button svg path {
  transition: all 0.3s ease-in;
}

@media (hover: hover), (-ms-high-contrast:none) {
  .bp-slider-nav button:hover svg path {
    fill: var(--accent-primary);
  }
}


@media screen and (max-width: 1200px) {
  .brand-page .wrapper {
    padding: 0 24px;
  }

  .brand-page .wrapper-p0 {
    padding: 0;
  }

  .section-offset {
    margin-bottom: 60px;
  }

  .medium-offset {
    margin-bottom: 48px;
  }

  .sm-offset {
    margin-bottom: 32px;
  }

  .xs-offset {
    margin-bottom: 32px;
  }

  .bp-button {
    font-size: var(--font-size-button-tablet);
    border-radius: 25px;
  }

  .brand-page .headline-1 {
    font-size: var(--font-size-headline-1-tablet);
    line-height: 100%;
  }

  .brand-page .headline-2 {
    font-size: var(--font-size-headline-2-tablet);
    font-weight: 700;
    line-height: 110%;
  }

  .brand-page .headline-3 {
    font-size: var(--font-size-headline-3-tablet);
    line-height: 120%;
  }

  .brand-page .headline-4 {
    font-size: var(--font-size-headline-4-tablet);
  }

  .brand-page .alternative-fs {
    font-size: var(--font-size-main-tablet);
  }


  .title-offset {
    margin-bottom: 16px;
  }

  .h3-offset {
    margin-bottom: 16px;
  }

  .bp-action-block {
    gap: 24px;
    padding: 48px;
    margin-top: -100px;
    border-radius: 60px;
  }

  .bp-action-block__img-wrap {
    max-width: 100%;
    height: 100%;
  }


  .bp-action-block img {
    border-radius: 60px;
    height: 100%;
    width: 100%;
  }

  .bp-action-block_unic {
    gap: 24px;
  }

  .bp-action-block_unic .bp-action-block__img-wrap {
    order: -1;
  }

  .bp-action-block_unic .bp-button {
    padding: 32px 20px;
  }

  .bp-action-block__descr {
    max-width: 100%;
  }

  .brand-page p {
    font-size: var(--font-size-main-tablet);
    line-height: 140%;
  }
}


@media screen and (max-width: 727px) {
  .brand-page .wrapper {
    padding: 0 16px;
  }

  .brand-page .wrapper-p0 {
    padding: 0;
  }

  .brand-page {
    padding: 40px 0;
  }

  .brand-page p {
    font-size: var(--font-size-main-mobile);
    line-height: 140%;
  }

  .medium-offset {
    margin-bottom: 32px;
  }

  .section-offset {
    margin-bottom: 48px;
  }

  .xs-offset {
    margin-bottom: 24px;
  }

  .h2-offset {
    margin-bottom: 16px;
  }

  .title-offset {
    margin-bottom: 8px;
  }

  .title-offset-lg {
    margin-bottom: 24px;
  }

  .brand-page .headline-1 {
    font-size: var(--font-size-headline-1-mobile);
  }

  .brand-page .headline-2 {
    font-size: var(--font-size-headline-2-mobile);
  }

  .brand-page .headline-3 {
    font-size: var(--font-size-headline-3-mobile);
  }

  .brand-page .headline-4 {
    font-size: var(--font-size-headline-4-mobile);
    line-height: 120%;
  }

  .brand-page .brand-page, .alternative-fs {
    font-size: var(--font-size-main-mobile);
  }

  .bp-button {
    padding: 24px 22px;
    width: 100%;
    font-size: var(--font-size-button-mobile);
    border-radius: 20px;
  }

  .bp-action-block {
    padding: 24px;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-top: -60px;
    border-radius: 40px;
  }

  .bp-action-block img {
    width: 100%;
  }

  .bp-action-block__img-wrap {
    height: 272px;
  }

  .bp-action-block_unic .bp-action-block__img-wrap {
    margin-left: 0;
  }

}

/* bp-welcome*/
.bp-welcome {
  display: flex;
  gap: 24px;
}

.bp-welcome__group {
  max-width: 912px;
  flex-grow: 1;
}

.bp-welcome__logo-group {
  border-left: 2px solid var(--semi-light-color)
}

.bp-welcome__buttons {
  display: flex;
  gap: 24px;
}

.bp-welcome__logo-group {
  padding: 48px 0 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-page .bp-welcome__text-sm {
  font-size: var(--font-size-alternative);
  line-height: 140%;
}

.bp-welcome__text-sm_mob {
  display: none;
}

.bp-welcome__logo {
  max-width: 240px;
}

@media (max-width: 1200px) {
  .bp-welcome {
    flex-direction: column;
    gap: 60px;
  }

  .bp-welcome__group {
    max-width:100%;
    order: 1;
  }

  .bp-welcome__logo-group {
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
    padding: 0;
    border-left: 0;
  }
}

@media (max-width: 727px) {
  .bp-welcome {
    gap: 32px;
  }

  .bp-welcome__logo-group {
    flex-direction: column;
    align-items: center;
  }

  .bp-welcome__buttons {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  .brand-page .bp-welcome__text-sm {
    font-size: var(--font-size-alternative-mobile);
  }

  .bp-welcome__text-sm_desktop {
    display: none;
  }

  .bp-welcome__text-sm_mob {
    display: block;
  }
}

/* bp-intro */

.bp-intro {
  margin-bottom: 200px;
}

.bp-intro__slide img {
  border-radius: 120px;
  height: 554px;
}

@media (max-width: 1200px) {
  .bp-intro__slide img {
    border-radius: 80px;
    width: 100%;
    height: 298px;
  }
}

@media (max-width: 727px) {
  .bp-intro__slide img {
    border-radius: 40px;
    height: 192px;
  }
}

/* bp-history */

.bp-history {
  margin-top: -320px;
  padding: 320px 0;
}

.bp-history__group {
  display: flex;
  align-items: center;
  gap: 24px;
}

.bp-history__info {
  max-width: 392px;
}

.integer-block__figure {
  font-family: var(--font-headline);
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  color: var(--accent-primary);
  width: 288px;
}

.bp-history__video {
  border-radius: 120px;
  max-width: 808px;
  width: 100%;
  height: 530px;
  position: relative;
}

.bp-history__video video {
  border-radius: 120px;
  max-width: 808px;
}

.bp-history__video .vsc-controller {
  display: none !important;
}

.bp-history__bottom {
  display: flex;
  justify-content: space-between;
}

.bp-history__integer {
  margin-bottom: 24px;
}

.bp-history__integers-group {
  display: flex;
  gap: 24px;
}

.bp-history__group-text {
  margin-bottom: 48px;
}

.bp-history__text {
  max-width: 496px;
}

@media (max-width: 1200px) {
  .bp-history {
    margin-top: -320px;
    padding: 220px 0;
  }

  .bp-history__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .bp-history__info-group {
    display: flex;
    align-items: center;
  }

  .bp-history__text {
    max-width: 100%;
  }

  .bp-history__info {
    max-width: 100%;
  }

  .brand-page .integer-block__figure {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    width: 211px;
  }

  .bp-history__integer {
    margin-bottom: 0;
  }

  .bp-history__video {
    max-width: 100%;
    border-radius: 80px;
    height: auto;
  }

  .bp-history__video video {
    border-radius: 80px;
    max-width: 100%;
  }
  .bp-history__group.sm-offset {
    margin-bottom: 32px;
  }

  .bp-history__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

@media (max-width: 727px) {
  .bp-history {
    padding: 180px 0;
  }

  .bp-history__info-group {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .bp-history__group-text {
    margin-bottom: 32px;
  }

  .brand-page .integer-block__figure {
    font-size: 48px;
  }

  .bp-history__video {
    height: auto;
    border-radius: 40px;
  }

  .bp-history__video video {
    height: auto;
    border-radius: 40px;
  }

  .bp-history__group.sm-offset {
    margin-bottom: 24px;
  }

  .bp-history__integers-group {
    flex-direction: column;
  }
}

/* bp-solution */

.bp-solution {
  margin-top: -240px;
}


.bp-solution__icons {
  display: flex;
  gap: 24px;
}

@media (max-width: 1200px) {
  .bp-solution {
    margin-top: -140px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 80px;
  }

  .bp-solution__countries {
    max-width: 100%;
  }

  .bp-solution__text {
    max-width: 100%;
  }

  .bp-solution {
    gap: 32px;
  }
}

@media (max-width: 727px) {
  .bp-solution {
    margin-bottom: 60px;
  }
}

/* bp-features */

.bp-features {
  padding: 180px 0;
}

.bp-features__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bp-features__top-text {
  max-width: 808px;
}

.bp-features__top-pic {
  width: 290px;
  height: 290px;
  border-radius: 50%;
}

.bp-features__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bp-features__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px;
  border-top: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
  border-left: 2px solid var(--main-color);
}

.bp-features__item:nth-child(even) {
  border-left: 0
}

.bp-features__item:nth-child(7) {
  border-bottom: 2px solid var(--main-color);
}

.bp-features__item:nth-child(8) {
  border-bottom: 2px solid var(--main-color);
}

.bp-features__item_empty {
  padding: 0;
  max-width: 612px;
  height: 300px;
}

.bp-features__item_empty img {
  height: 100%;
}

.decor-star {
  position: relative;
}

.decor-star__pic {
  position: absolute;
  width: 22px;
  height: 22px;
  z-index: 1;
}

.decor-star__pic-1 {
  left: -11px;
  top: -11px;
}

.decor-star__pic-2 {
  right: -12px;
  top: -11px;
}

.decor-star__pic-3 {
  bottom: -11px;
  left: -11px;
}

.decor-star__pic-4 {
  right: -12px;
  bottom: -11px;
}


@media (max-width: 1200px) {
  .bp-features {
    padding: 48px 0 180px 0;
  }

  .bp-features__top {
    gap: 24px;
  }

  .bp-features__top-pic {
    width: 211px;
    height: 211px;
  }

  .bg-decor {
    border-radius: 40px;
  }

  .bp-features__item {
    padding: 32px;
  }

  .bp-features__item_empty {
    padding: 0;
    height: auto;
  }
}


@media (max-width: 727px) {
  .bp-features {
    padding: 32px 0 120px 0;
  }
  .bp-features__top {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }

  .bp-features__top-pic {
    width: 136px;
    height: 136px;
  }

  .bp-features__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .bp-features__item:not(.bp-features__item_empty) {
    padding: 24px;
    gap: 8px;
  }

  .bp-features__item:nth-child(even) {
    border-left: 2px solid var(--main-color);
  }

  .bp-features__item:nth-child(7) {
    border-bottom: 0;
  }
}

/* bp-consult */

.bp-consult__img {
  border-radius: 90px;
  max-width: 390px;
}

.bp-consult__img-wrap {
  max-width: 392px;
}




@media (max-width: 1200px) {
  .bp-consult {
    margin-bottom: 80px;
  }

  .bp-consult__img-wrap {
    max-width: 100%;
    height: 100%;
  }

  .bp-consult-bottom__img-wrap {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 727px) {
  .bp-consult {
    margin-bottom: 60px;
  }
}

/* bp-collection */
.bp-collections__group {
  display: flex;
  flex-direction: column;
  gap: 180px;
}
.bp-collections {
  padding: 180px 0;
}

.bp-collections__descr {
  max-width: 600px;
}

.bp-collections__tab {
  position: relative;
}

.bp-collections__tab-btn {
  color: var(--main-color);
}

.bp-collections__tab-btn.tab-btn-active {
  pointer-events: none;
  color: var(--hover-color);
}

.tab-pane:not(.tab-pane-show) {
  display: none;
}

.bp-collections__nav {
  position: relative;
  padding: 20px 104px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.bp-collections__nav .swiper-slide {
  width: auto;
}

.bp-collections__slider-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.swiper-slide.bp-collections__slide {
  max-width: 392px;
  height: 392px;
}

.bp-collections__slide img {
  border-radius: 80px;
  width: 100%;
  height: 100%;
}

.bp-collections-nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.bp-collections-nav__prev {
  top: 0;
  left: 0;
}

.bp-collections-nav__next {
  top: 0;
  right: 0;
}

.bp-collections__slider-bottom p {
  max-width: 744px;
}



.bp-decor-line {
  height: 400px;
  position: relative;
}

.bp-decor-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 670px;
  background: url("../img/graphic-element.svg") no-repeat;
}

@media (max-width: 1200px) {
  .bp-collections {
    padding: 48px 0 180px 0;
  }
  .bp-collections__group {
    gap: 80px;
  }

  .bp-collections__descr {
    max-width: 100%;
  }

  .bp-decor-line {
    height: 320px;
  }

  .bp-decor-line::before {
    height: 100%;
    background-size: cover;
    z-index: 10;
  }

  .bp-collections-nav {
    width: 48px;
    height: 48px;
  }

  .bp-collections-nav svg {
    width: 32px;
  }

  .bp-collections__nav {
    padding: 10px 68px;
  }
}

@media (max-width: 727px) {
  .bp-collections {
    padding: 32px 0 120px 0;
  }

  .bp-collections__group {
    gap: 60px;
  }

  .bp-collections-nav {
    width: 40px;
    height: 40px;
  }

  .bp-collections-nav svg {
    width: 24px;
  }

  .bp-collections__slider-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .bp-collections__nav {
    padding: 10px 56px;
  }

  .bp-decor-line {
    height: 200px;
  }
}


/* bp-selection */
.bp-selection {
  padding: 180px 0;
}

.bp-selection__welcome-text {
  max-width: 496px;
}

@media (max-width: 1200px) {
  .bp-selection {
    padding: 48px 0 180px 0;
    margin-top: -100px;
  }
}

@media (max-width: 727px) {
  .bp-selection {
    padding: 32px 0 120px 0;
    margin-top: -60px;
  }
}



/*bp-quiz */

.bp-quiz__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bp-quiz__grid-label {
  font-size: var(--font-size-main);
}

.bp-quiz__grid_last .bp-quiz__grid-elem:nth-child(2),
.bp-quiz__grid_last .bp-quiz__grid-elem:nth-child(3) {
  grid-column: span 3;
}

.bp-quiz__grid_result .bp-quiz__grid-elem:nth-child(2) {
  grid-column: span 3;
}

.bp-quiz__result-content {
  display: flex;
  align-items: center;
  gap: 48px;
}

.bp-quiz__result-info {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.bp-quiz__result-pic {
  min-width: 328px;
  height: 328px;
}

.bp-quiz__result-pic img {
  width: 100%;
  height: 100%;
  border-radius: 80px;
}

.bp-quiz__grid-elem:not(.bp-quiz__grid-elem_empty) {
  position: relative;
  padding: 48px 38px;
  outline: 2px solid var(--main-color);
  outline-offset: -1px;
  transition: background-color 0.3s ease-in;
}

.bp-quiz__grid-elem.checked {
  background-color: var(--light-color);
}

.bp-quiz__grid-elem:not(.bp-quiz__title) {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.bp-quiz__text-input {
  padding: 24px;
  background: var(--light-color);
  border-radius: 20px;
  color: #7A8CCD;
  font-family: var(--font-main);
}

.bp-quiz__text-input::placeholder {
  color: #7A8CCD;
}

.bp-quiz__text-input_number {
  min-width: 220px;
}

.bp-quiz__text-input_city {
  min-width: 620px;
}

.bp-quiz__grid_last .bp-quiz__grid-elem {
  align-items: flex-start;
}

.bp-quiz__group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  cursor: pointer;
}

.bp-quiz__img-wrap {
  display: block;
  overflow: hidden;
  transform: scale(1);
  border-radius: 40px;
}

.bp-quiz__img-wrap img {
  transition: 0.3s;
}

.bp-quiz__img-wrap:hover img {
  transform: scale(1.1);
}

.bp-quiz__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


.bp-quiz__radio-pseudo {
  position: absolute;
  left: 23px;
  top: 23px;
  border: 2px solid var(--accent-primary);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--light-color);
  z-index: 1;
}

.bp-quiz__radio-pseudo:before {
  content: "";
  background: var(--accent-primary);
  width: 12px;
  height: 12px;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
}

.bp-quiz__input:checked + .bp-quiz__radio-pseudo:before {
  opacity: 1;
}

.bp-quiz__title {
  position: relative;
  padding: 48px;
  grid-column: span 2;
}


.bp-quiz__buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
}


@media (max-width: 1200px) {
  .bp-quiz__grid-elem:not(.bp-quiz__grid-elem_empty) {
    padding: 32px;
  }

  .bp-quiz__title {
    grid-column: auto;
  }

  .bp-quiz__grid-label {
    font-size: var(--font-size-main-tablet);
  }

  .bp-quiz__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .bp-quiz__grid-elem_empty {
    display: none;
  }

  .bp-quiz__grid-elem:not(.bp-quiz__title) {
    flex-direction: row;
  }

  .bp-quiz__group {
    flex-direction: row;
    width: 100%;
  }

  .bp-quiz__img-wrap {
    border-radius: 20px;
    max-width: 114px;
  }

  .bp-quiz__radio-pseudo {
    right: 0;
    top: 0;
    left: auto;
    width: 16px;
    height: 16px;
  }

  .bp-quiz__radio-pseudo:before {
    width: 8px;
    height: 8px;
    top: 2px;
    left: 2px;
  }

  .bp-quiz__grid_last .bp-quiz__grid-elem:nth-child(2),
  .bp-quiz__grid_last .bp-quiz__grid-elem:nth-child(3) {
    flex-direction: column;
  }

  .bp-quiz__text-input_city {
    min-width: 616px;
  }

  .bp-quiz__text-input {
    border: 18px;
  }

  .bp-quiz__result-info {
    gap: 24px;
  }

  .bp-quiz__result-pic {
    min-width: 220px;
    height: auto;
  }

  .bp-quiz__result-content {
    gap: 24px;
  }

}


@media (max-width: 727px) {
  .bp-quiz__grid-elem:not(.bp-quiz__grid-elem_empty) {
    padding: 24px;
  }


  .bp-quiz__grid_last .bp-quiz__grid-elem:nth-child(2),
  .bp-quiz__grid_last .bp-quiz__grid-elem:nth-child(3) {
    gap: 16px;
  }

  .bp-quiz__grid-label {
    font-size: var(--font-size-main-mobile);
  }

  .bp-quiz__group {
    gap: 16px;
  }

  .bp-quiz__img-wrap {
    border-radius: 10px;
    max-width: 64px;
  }

  .bp-quiz__img-wrap img {
    border-radius: 10px;
  }
  .bp-quiz__text-input_city, .bp-quiz__text-input_number {
    min-width: 100%;
  }

  .bp-quiz__buttons {
    flex-direction: column;
    gap: 16px;
  }

  .bp-quiz__text-input {
    padding: 16px;
    border-radius: 12px;
  }

  .bp-quiz__result-content {
    flex-direction: column;
  }

  .bp-quiz__result-info {
    gap: 16px;
  }
}

@media (max-width: 410px) {
  .bp-quiz__grid-elem-name {
    max-width: 200px;
  }
}

/* bp-consult-bottom */
.bp-consult-bottom__group {
  display: flex;
}
.bp-consult-bottom__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.bp-consult-bottom__img-wrap {
  max-width: 392px;
}

.bp-consult-bottom__info a {
  color: var(--main-color);
}

@media (max-width: 1200px) {
  .swiper-slide.bp-collections__slide {
    max-width: 100%;
    height: 210px;
  }

  .bp-collections__slide img {
    border-radius: 60px;
  }
}


@media (max-width: 727px) {
  .bp-consult-bottom__img-wrap {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .bp-consult-bottom__group {
    flex-direction: column;
    gap: 16px;
  }

  .bp-consult-bottom__info {
    gap: 4px;
  }
}
